
.profile {

    margin: auto;
    padding-bottom: 15px;
    
    
}

.profileName {

    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    align-items: center;
   
    padding: 10px;


}



.avatar {

    width: 150px;
    border-radius: 50%;
    box-shadow: rgba(0,0,0,0.8) 0 0 10px;
 
}

.name {

    font-size: 20px;
    font-weight: 700;
    color: #324e63;
}

.tag {

    display: flex;
    align-items: center;
    gap:2px;

    font-size: 16px;

    color: gray;

   
}

.location {

    display: flex;
    gap:2px;
    align-items: center;
      
    font-size: 16px;

    color: gray;
}


.list {
    
    padding: 10px;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.item {

    flex-basis: calc((100%) / 2);
}

.spantitle {

    display: block;
    text-align: center;

    font-weight: 700;
    font-size: 12px;
    color: #324e63;
  }


  .spantext {

    display: block;
    text-align: center;
    font-size: 12px;
    color: #324e63;
  }