

.list {

margin-bottom: 10px;

}

.item {

    display: flex;
    align-items: center;
    gap: 10px;

    padding-left: 10px;
}

.name {

    text-align: center;

    font-size: 18px;
    font-weight: 600;
    color: #324e63;
}


.status {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.online {


    background-color: red;
   
}

.offline {

    background-color: #59CE8F;
 
}

